.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.936000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-5.880000px;}
._2{margin-left:-4.440000px;}
._5{margin-left:-2.960000px;}
._4{margin-left:-1.440000px;}
._7{width:204.360000px;}
._3{width:269.640000px;}
._0{width:288.840000px;}
._9{width:322.240000px;}
._8{width:402.160000px;}
._1{width:468.880000px;}
.fc3{color:rgb(96,96,96);}
.fc2{color:rgb(0,170,255);} /* Title/Accent color. 216,38,125 = MAGENTA | 255,0,0 = CaptainU | 120,165,174 = Viking School */
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(122,122,122);}
.fs0{font-size:40.000000px;}
.fs1{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:7.444600px;}
.y22{bottom:22.444600px;}
.y1{bottom:34.555400px;}
.y21{bottom:36.444600px;}
.y26{bottom:47.624700px;}
.y20{bottom:50.444600px;}
.y1f{bottom:65.444600px;}
.y1e{bottom:79.444600px;}
.y25{bottom:103.624700px;}
.y1d{bottom:108.444600px;}
.y1c{bottom:122.444600px;}
.y1b{bottom:136.444600px;}
.y1a{bottom:165.444600px;}
.y19{bottom:179.444600px;}
.y18{bottom:194.444600px;}
.y28{bottom:199.000000px;}
.y17{bottom:208.444600px;}
.y16{bottom:222.444600px;}
.y15{bottom:251.444600px;}
.y14{bottom:266.444600px;}
.y13{bottom:280.444600px;}
.y12{bottom:294.444600px;}
.y11{bottom:309.444600px;}
.y10{bottom:323.444600px;}
.yf{bottom:337.444600px;}
.ye{bottom:352.444600px;}
.yd{bottom:366.444600px;}
.yc{bottom:395.444600px;}
.yb{bottom:409.444600px;}
.ya{bottom:423.444600px;}
.y9{bottom:438.444600px;}
.y8{bottom:452.444600px;}
.y7{bottom:466.444600px;}
.y6{bottom:481.444600px;}
.y5{bottom:509.444600px;}
.y4{bottom:524.444600px;}
.y3{bottom:538.444600px;}
.y2{bottom:552.444600px;}
.y27{bottom:562.000000px;}
.y24{bottom:621.375300px;}
.h2{height:29.240000px;}
.h3{height:170.624700px;}
.h4{height:175.440000px;}
.h5{height:211.980000px;}
.h1{height:649.444600px;}
.h0{height:792.000000px;}
.w3{width:154.960000px;}
.w2{width:402.760000px;}
.w1{width:545.960000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:2.980000px;}
.x4{left:18.119980px;}
.x1{left:33.020000px;}
.x3{left:122.980000px;}
.x5{left:424.020000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-7.840000pt;}
._2{margin-left:-5.920000pt;}
._5{margin-left:-3.946667pt;}
._4{margin-left:-1.920000pt;}
._7{width:272.480000pt;}
._3{width:359.520000pt;}
._0{width:385.120000pt;}
._9{width:429.653333pt;}
._8{width:536.213333pt;}
._1{width:625.173333pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:9.926133pt;}
.y22{bottom:29.926133pt;}
.y1{bottom:46.073867pt;}
.y21{bottom:48.592800pt;}
.y26{bottom:63.499600pt;}
.y20{bottom:67.259467pt;}
.y1f{bottom:87.259467pt;}
.y1e{bottom:105.926133pt;}
.y25{bottom:138.166267pt;}
.y1d{bottom:144.592800pt;}
.y1c{bottom:163.259467pt;}
.y1b{bottom:181.926133pt;}
.y1a{bottom:220.592800pt;}
.y19{bottom:239.259467pt;}
.y18{bottom:259.259467pt;}
.y28{bottom:265.333333pt;}
.y17{bottom:277.926133pt;}
.y16{bottom:296.592800pt;}
.y15{bottom:335.259467pt;}
.y14{bottom:355.259467pt;}
.y13{bottom:373.926133pt;}
.y12{bottom:392.592800pt;}
.y11{bottom:412.592800pt;}
.y10{bottom:431.259467pt;}
.yf{bottom:449.926133pt;}
.ye{bottom:469.926133pt;}
.yd{bottom:488.592800pt;}
.yc{bottom:527.259467pt;}
.yb{bottom:545.926133pt;}
.ya{bottom:564.592800pt;}
.y9{bottom:584.592800pt;}
.y8{bottom:603.259467pt;}
.y7{bottom:621.926133pt;}
.y6{bottom:641.926133pt;}
.y5{bottom:679.259467pt;}
.y4{bottom:699.259467pt;}
.y3{bottom:717.926133pt;}
.y2{bottom:736.592800pt;}
.y27{bottom:749.333333pt;}
.y24{bottom:828.500400pt;}
.h2{height:38.986667pt;}
.h3{height:227.499600pt;}
.h4{height:233.920000pt;}
.h5{height:282.640000pt;}
.h1{height:865.926133pt;}
.h0{height:1056.000000pt;}
.w3{width:206.613333pt;}
.w2{width:537.013333pt;}
.w1{width:727.946667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:3.973333pt;}
.x4{left:24.159973pt;}
.x1{left:44.026667pt;}
.x3{left:163.973333pt;}
.x5{left:565.360000pt;}
}
